{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Silae Paie Rest Api"
  },
  "host": "payroll-api.silae.fr",
  "basePath": "/payroll",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/Absences/SalarieSupprimerAbsence": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "SalarieSupprimerAbsence",
        "operationId": "SalarieSupprimerAbsence",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieSupprimerAbsenceRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/Absences/SalarieAjouterAbsence": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "SalarieAjouterAbsence",
        "operationId": "SalarieAjouterAbsence",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieAjouterAbsenceRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/Absences/SalarieAjouterAbsenceV2": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "SalarieAjouterAbsenceV2",
        "operationId": "SalarieAjouterAbsenceV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieAjouterAbsenceV2Request"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/Absences/SalarieModifierAbsence": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "SalarieModifierAbsence",
        "operationId": "SalarieModifierAbsence",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieModifierAbsenceRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/Absences/SalarieModifierAbsenceV2": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "SalarieModifierAbsenceV2",
        "operationId": "SalarieModifierAbsenceV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieModifierAbsenceV2Request"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/Absences/SalarieAbsences": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "SalarieAbsences",
        "operationId": "SalarieAbsences",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieAbsencesRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SalarieAbsencesResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/Absences/SalarieAbsencesV2": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "SalarieAbsencesV2",
        "operationId": "SalarieAbsencesV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieAbsencesRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SalarieAbsencesResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/ActivitesEtHeures/SalarieAjouterHeures": {
      "post": {
        "tags": [
          "ActivitesEtHeures"
        ],
        "summary": "SalarieAjouterHeures",
        "operationId": "SalarieAjouterHeures",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieAjouterHeuresRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/ActivitesEtHeures/SalarieAjouterHeuresSurEmploi": {
      "post": {
        "tags": [
          "ActivitesEtHeures"
        ],
        "summary": "SalarieAjouterHeuresSurEmploi",
        "operationId": "SalarieAjouterHeuresSurEmploi",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieAjouterHeuresSurEmploiRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/ActivitesEtHeures/SalarieAjouterActiviteJournaliere": {
      "post": {
        "tags": [
          "ActivitesEtHeures"
        ],
        "summary": "SalarieAjouterActiviteJournaliere",
        "operationId": "SalarieAjouterActiviteJournaliere",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieAjouterActiviteJournaliereRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/ActivitesEtHeures/SalarieActiviteJournaliere": {
      "post": {
        "tags": [
          "ActivitesEtHeures"
        ],
        "summary": "SalarieActiviteJournaliere",
        "operationId": "SalarieActiviteJournaliere",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieActiviteJournaliereRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SalarieActiviteJournaliereResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/ActivitesEtHeures/SalarieAjouterActiviteJournaliereSurEmploi": {
      "post": {
        "tags": [
          "ActivitesEtHeures"
        ],
        "summary": "SalarieAjouterActiviteJournaliereSurEmploi",
        "operationId": "SalarieAjouterActiviteJournaliereSurEmploi",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieAjouterActiviteJournaliereSurEmploiRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/ActivitesEtHeures/SalarieAjouterHeuresNatives": {
      "post": {
        "tags": [
          "ActivitesEtHeures"
        ],
        "summary": "SalarieAjouterHeuresNatives",
        "operationId": "SalarieAjouterHeuresNatives",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieAjouterHeuresNativesRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/ActivitesEtHeures/SalarieAjouterHeuresNativesSurEmploi": {
      "post": {
        "tags": [
          "ActivitesEtHeures"
        ],
        "summary": "SalarieAjouterHeuresNativesSurEmploi",
        "operationId": "SalarieAjouterHeuresNativesSurEmploi",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieAjouterHeuresNativesSurEmploiRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/ActivitesEtHeures/SalarieReinitialiserSaisies": {
      "post": {
        "tags": [
          "ActivitesEtHeures"
        ],
        "summary": "SalarieReinitialiserSaisies",
        "operationId": "SalarieReinitialiserSaisies",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalarieReinitialiserSaisiesRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SalarieReinitialiserSaisiesResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminAgences/ListeAgences": {
      "get": {
        "tags": [
          "AdminAgences"
        ],
        "summary": "ListeAgences",
        "operationId": "ListeAgences",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeAgencesResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminAgences/ListeDossiersAgence": {
      "post": {
        "tags": [
          "AdminAgences"
        ],
        "summary": "ListeDossiersAgence",
        "operationId": "ListeDossiersAgence",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListeDossiersAgenceRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeDossiersAgenceResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminAgences/LectureFicheAgence": {
      "post": {
        "tags": [
          "AdminAgences"
        ],
        "summary": "LectureFicheAgence",
        "operationId": "LectureFicheAgence",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LectureFicheAgenceRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgenceDetail"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminCollaborateurs/AffectationDossierPaie": {
      "post": {
        "tags": [
          "AdminCollaborateurs"
        ],
        "summary": "AffectationDossierPaie",
        "operationId": "AffectationDossierPaie",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AffectationDossierPaieRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminCollaborateurs/AffectationDossierPaieLecture": {
      "post": {
        "tags": [
          "AdminCollaborateurs"
        ],
        "summary": "AffectationDossierPaieLecture",
        "operationId": "AffectationDossierPaieLecture",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DossierRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AffectationDossierPaieLectureResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminCollaborateurs/AdministrationCollaborateurLecture": {
      "post": {
        "tags": [
          "AdminCollaborateurs"
        ],
        "summary": "AdministrationCollaborateurLecture",
        "operationId": "AdministrationCollaborateurLecture",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdministrationCollaborateurLectureRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UtilisateurCollaborateur"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminCollaborateurs/AdministrationCollaborateurLectureParIdentifiant": {
      "post": {
        "tags": [
          "AdminCollaborateurs"
        ],
        "summary": "AdministrationCollaborateurLectureParIdentifiant",
        "operationId": "AdministrationCollaborateurLectureParIdentifiant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdministrationCollaborateurLectureParIdentifiantRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UtilisateurCollaborateur"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminCollaborateurs/AdministrationCollaborateurEnregistrement": {
      "post": {
        "tags": [
          "AdminCollaborateurs"
        ],
        "summary": "AdministrationCollaborateurEnregistrement",
        "operationId": "AdministrationCollaborateurEnregistrement",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdministrationCollaborateurEnregistrementRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminCollaborateurs/ModificationDroitsFonctionnelsProductionPaie": {
      "post": {
        "tags": [
          "AdminCollaborateurs"
        ],
        "summary": "ModificationDroitsFonctionnelsProductionPaie",
        "operationId": "ModificationDroitsFonctionnelsProductionPaie",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModificationDroitsFonctionnelsProductionPaieRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminCollaborateurs/LectureCompteCollaborateur": {
      "post": {
        "tags": [
          "AdminCollaborateurs"
        ],
        "summary": "LectureCompteCollaborateur",
        "operationId": "LectureCompteCollaborateur",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LectureCompteCollaborateurRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompteCollaborateur"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminCollaborateurs/LectureCompteCollaborateurModeles": {
      "get": {
        "tags": [
          "AdminCollaborateurs"
        ],
        "summary": "LectureCompteCollaborateurModeles",
        "operationId": "LectureCompteCollaborateurModeles",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LectureCompteCollaborateurModelesResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminCollaborateurs/CreationCompteCollaborateur": {
      "post": {
        "tags": [
          "AdminCollaborateurs"
        ],
        "summary": "CreationCompteCollaborateur",
        "operationId": "CreationCompteCollaborateur",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreationCompteCollaborateurRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompteCollaborateur"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminCollaborateurs/CreationCompteCollaborateurDepuisModele": {
      "post": {
        "tags": [
          "AdminCollaborateurs"
        ],
        "summary": "CreationCompteCollaborateurDepuisModele",
        "operationId": "CreationCompteCollaborateurDepuisModele",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreationCompteCollaborateurDepuisModeleRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompteCollaborateur"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminCollaborateurs/AppliquerModeleCollaborateur": {
      "post": {
        "tags": [
          "AdminCollaborateurs"
        ],
        "summary": "AppliquerModeleCollaborateur",
        "operationId": "AppliquerModeleCollaborateur",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppliquerModeleCollaborateurRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompteCollaborateur"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminDossier/AffecterCleDossier": {
      "post": {
        "tags": [
          "AdminDossier"
        ],
        "summary": "AffecterCleDossier",
        "operationId": "AffecterCleDossier",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AffecterCleDossierRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminDossier/GererEtatDossierPaie": {
      "post": {
        "tags": [
          "AdminDossier"
        ],
        "summary": "GererEtatDossierPaie",
        "operationId": "GererEtatDossierPaie",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GererEtatDossierPaieRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminDossier/GererEtatRobotDePaie": {
      "post": {
        "tags": [
          "AdminDossier"
        ],
        "summary": "GererEtatRobotDePaie",
        "operationId": "GererEtatRobotDePaie",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GererEtatRobotDePaieRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminDossier/GererCycleDePaie": {
      "post": {
        "tags": [
          "AdminDossier"
        ],
        "summary": "GererCycleDePaie",
        "operationId": "GererCycleDePaie",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GererCycleDePaieRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminDossier/ListeDossiersDemoSilae": {
      "get": {
        "tags": [
          "AdminDossier"
        ],
        "summary": "ListeDossiersDemoSilae",
        "operationId": "ListeDossiersDemoSilae",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeDossiersDemoSilaeResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminDossier/ImportDossierDemoAsynchrone": {
      "post": {
        "tags": [
          "AdminDossier"
        ],
        "summary": "ImportDossierDemoAsynchrone",
        "operationId": "ImportDossierDemoAsynchrone",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportDossierDemoRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/TraitementAsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdminDossier/StatutImportDossierDemoAsynchrone": {
      "get": {
        "tags": [
          "AdminDossier"
        ],
        "summary": "StatutImportDossierDemoAsynchrone",
        "operationId": "StatutImportDossierDemoAsynchrone",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "guidTache",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StatutAsynchroneResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/StatutAsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdministrationAPI/AnalyseConfigurationAccesApi": {
      "post": {
        "tags": [
          "AdministrationAPI"
        ],
        "summary": "AnalyseConfigurationAccesApi",
        "operationId": "AnalyseConfigurationAccesApi",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseConfigurationAccesApiRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnalyseConfigurationAccesApiResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdministrationAPI/CreationConfigurationAccesApi": {
      "post": {
        "tags": [
          "AdministrationAPI"
        ],
        "summary": "CreationConfigurationAccesApi",
        "operationId": "CreationConfigurationAccesApi",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreationConfigurationAccesApiRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreationConfigurationAccesApi"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdministrationAPI/ListeComptesApi": {
      "get": {
        "tags": [
          "AdministrationAPI"
        ],
        "summary": "ListeComptesApi",
        "operationId": "ListeComptesApi",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeComptesApiResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdministrationPortail/Domaines": {
      "get": {
        "tags": [
          "AdministrationPortail"
        ],
        "summary": "Domaines",
        "operationId": "Domaines",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idEntite",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Domain"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdministrationPortail/Entites": {
      "get": {
        "tags": [
          "AdministrationPortail"
        ],
        "summary": "Entites",
        "operationId": "Entites",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Entity"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AdministrationPortail/Agencies": {
      "get": {
        "tags": [
          "AdministrationPortail"
        ],
        "summary": "Agencies",
        "operationId": "Agencies",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domNomBase",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Agency"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaie": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaie",
        "operationId": "AnalyseProductionPaie",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieV2Request"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieAsynchrone": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieAsynchrone",
        "operationId": "AnalyseProductionPaieAsynchrone",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieV2Request"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/TraitementAsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/StatutAnalyseProductionPaieAsynchrone": {
      "get": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "StatutAnalyseProductionPaieAsynchrone",
        "operationId": "StatutAnalyseProductionPaieAsynchrone",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "guidTache",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StatutAnalyseProductionPaieAsynchroneResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/StatutAnalyseProductionPaieAsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieBulletinsOriginaux": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieBulletinsOriginaux",
        "operationId": "AnalyseProductionPaieBulletinsOriginaux",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieV2Request"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieBulletinsOriginauxResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieBulletinsOriginauxAsynchrone": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieBulletinsOriginauxAsynchrone",
        "operationId": "AnalyseProductionPaieBulletinsOriginauxAsynchrone",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieV2Request"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/TraitementAsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/StatutAnalyseProductionPaieBulletinsOriginauxAsynchrone": {
      "get": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "StatutAnalyseProductionPaieBulletinsOriginauxAsynchrone",
        "operationId": "StatutAnalyseProductionPaieBulletinsOriginauxAsynchrone",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "guidTache",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StatutAnalyseProductionPaieBulletinsOriginauxAsynchroneResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/StatutAnalyseProductionPaieBulletinsOriginauxAsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieBulletinsCoffresForts": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieBulletinsCoffresForts",
        "operationId": "AnalyseProductionPaieBulletinsCoffresForts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieV2Request"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieBulletinsCoffresFortsResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieBulletinsCoffresFortsAsynchrone": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieBulletinsCoffresFortsAsynchrone",
        "operationId": "AnalyseProductionPaieBulletinsCoffresFortsAsynchrone",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieV2Request"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/TraitementAsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/StatutAnalyseProductionPaieBulletinsCoffresFortsAsynchrone": {
      "get": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "StatutAnalyseProductionPaieBulletinsCoffresFortsAsynchrone",
        "operationId": "StatutAnalyseProductionPaieBulletinsCoffresFortsAsynchrone",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "guidTache",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StatutAnalyseProductionPaieBulletinsCoffresFortsAsynchroneResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/StatutAnalyseProductionPaieBulletinsCoffresFortsAsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieDetail": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieDetail",
        "operationId": "AnalyseProductionPaieDetail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieDetailRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieDetailResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieUtilisateurs": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieUtilisateurs",
        "operationId": "AnalyseProductionPaieUtilisateurs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieUtilisateursRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieUtilisateursResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieUtilisateursV2": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieUtilisateursV2",
        "operationId": "AnalyseProductionPaieUtilisateursV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieUtilisateursRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieUtilisateursV2Response"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieUtilisateursV2Asynchrone": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieUtilisateursV2Asynchrone",
        "operationId": "AnalyseProductionPaieUtilisateursV2Asynchrone",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieUtilisateursRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/TraitementAsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/StatutAnalyseProductionPaieUtilisateursV2Asynchrone": {
      "get": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "StatutAnalyseProductionPaieUtilisateursV2Asynchrone",
        "operationId": "StatutAnalyseProductionPaieUtilisateursV2Asynchrone",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "guidTache",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StatutAnalyseProductionPaieUtilisateursV2AsynchroneResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/StatutAnalyseProductionPaieUtilisateursV2AsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieEffectifs": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieEffectifs",
        "operationId": "AnalyseProductionPaieEffectifs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieEffectifsRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieEffectifsResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieEffectifsAsynchrone": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieEffectifsAsynchrone",
        "operationId": "AnalyseProductionPaieEffectifsAsynchrone",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieEffectifsRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/TraitementAsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/StatutAnalyseProductionPaieEffectifsAsynchrone": {
      "get": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "StatutAnalyseProductionPaieEffectifsAsynchrone",
        "operationId": "StatutAnalyseProductionPaieEffectifsAsynchrone",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "guidTache",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StatutAnalyseProductionPaieEffectifsAsynchroneResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/StatutAnalyseProductionPaieEffectifsAsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieEntreesSorties": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieEntreesSorties",
        "operationId": "AnalyseProductionPaieEntreesSorties",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieEntreesSortiesRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieEntreesSortiesResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/AnalyseProductionPaieEntreesSortiesAsynchrone": {
      "post": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "AnalyseProductionPaieEntreesSortiesAsynchrone",
        "operationId": "AnalyseProductionPaieEntreesSortiesAsynchrone",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyseProductionPaieEntreesSortiesRequest"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/TraitementAsynchroneResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ApiErrors"
            }
          }
        }
      }
    },
    "/v1/AnalyseProduction/StatutAnalyseProductionPaieEntreesSortiesAsynchrone": {
      "get": {
        "tags": [
          "AnalyseProduction"
        ],
        "summary": "StatutAnalyseProductionPaieEntreesSortiesAsynchrone",
        "operationId": "StatutAnalyseProductionPaieEntreesSortiesAsynchrone",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "guidTache",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Clé d'abonnement api management",
            "required": true,
            "type": "string",
            "default": "{{subscriptionKey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StatutAnalyseProductionPaieEntreesSortiesAsynchroneResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
[...]
