name: CI

permissions:
    contents: read

on:
    push:
        branches: [ main ]
    pull_request:

jobs:
    check-cs:
        name: Coding Style
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php-version: ['8.1', '8.2', '8.3', '8.4']
        steps:
            - name: "Checkout code"
              uses: actions/checkout@v6

            - name: "Install PHP with extensions"
              uses: shivammathur/setup-php@v2
              with:
                  coverage: "none"
                  extensions: intl
                  php-version: ${{ matrix.php-version }}
                  tools: composer

            - uses: "ramsey/composer-install@v3"
              with:
                  working-directory: "tools/php-cs-fixer"

            - name: "Cache phpcsfixer"
              uses: actions/cache@v4
              with:
                  path: var/.php-cs-fixer.cache
                  key: phpcsfixer-${{ matrix.php-version }}-${{ github.sha }}
                  restore-keys: phpcsfixer-${{ matrix.php-version }}-

            - name: "PHP-CS-Fixer"
              run: ./tools/php-cs-fixer/vendor/bin/php-cs-fixer check
